body {
    font-family: 'Arial', sans-serif;
}

.hero {
    background: url('hero.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero h1 {
    font-size: 4rem;
    text-align: left;
}

.hero p {
    font-size: 1.5rem;
    text-align: left;
}

.card img {
    height: 200px;
    object-fit: cover;
}
.navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
